<img class="fond" src="./assets/fond.png"/>
<img class="stars starsleft" src="./assets/stars.png"/>
<img class="stars starsright" src="./assets/stars.png"/>

<div class="top">
  <div class="left">
    <div class="flexcenter">
      <div class="file">
        <input type="file" id="fileInput" (change)="read()"/>
        <img src="./assets/bouton.png">
        <p>Charger fichier..</p>
      </div>
    </div>
  
    <div class="informations">
      <p>Prénom : {{informations.prenom}}</p>
      <p>Date de naissance : {{informations.date}}</p>
      <p>Heure de naissance : {{informations.heure}}</p>
      <p>Lieu de naissance : {{informations.lieu}}</p>
      <img class="fondbloc" src="./assets/bloc.png"/>
    </div>

    <p class="title"><img class="star" src="./assets/star.png">{{hover}}<img class="star" src="./assets/star.png"></p>
  
    <div class="contsvg">
      <div #one class="svg"></div>
    </div>
  </div>
  
  <div class="right">
    <div *ngIf="desc" class="desc">
      <p class="title"><img class="star" src="./assets/star.png">{{clicked}}<img class="star" src="./assets/star.png"></p>
      <p>{{desc}}</p>
      <img class="fondbloc" src="./assets/bloc.png"/>
    </div>
  
    <div class="textes">
      <div *ngFor="let obj of focus;let i=index" class="data" [class.lastdata]="i==focus.length-1">
        <p class="typelien">{{obj.type?obj.type:""}}</p>
        <p class="title borderbot"><img class="star" src="./assets/star.png">{{obj.nom?obj.nom:obj.maison}}<img class="star" src="./assets/star.png"></p>
        <div class="contenu">
          <div *ngFor="let data of obj.datas">
            <p class="title">{{data.nom?data.nom:data.maison}}</p>
            <p>{{data.data}}</p>
          </div>
        </div>
        
        <img class="fondbloc" src="./assets/bloc.png"/>
      </div>
    </div>
  </div>
</div>
