<div [class.paysage]="!paysage" class="contprincipal">  

  <img class="fond" src="./assets/fond.png"/>
  <img [@moveAndRotate]="moveAndRotate" class="stars starsleft" src="./assets/stars.png"/>
  <img [@moveAndRotate]="moveAndRotate" class="stars starsright" src="./assets/stars.png"/>
  
  <input type="file" id="fileInput" #fileInput (change)="read($event)" style="display:none">
  
  <div class="loading-dots connect" *ngIf="!connected">
    <p class="mdp">Mot de passe :</p>
    <input type="password" placeholder="Mot de passe.." [(ngModel)]="mdp"/>
    <button (click)="tryconnect()">Valider</button>
    <p class="clickable" (click)="connected=true">Continuer en tant qu'utilisateur..</p>
  </div>
  
  <div class="loading-dots" *ngIf="loading">
    <p>Chargement des données</p>
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
  </div>

  <div class="center" *ngIf="onglet=='Général' && focus.length>0" [class.showliste]="showListe">
    <div class="arrow clickable" (click)="showListe=!showListe">
      <img src="./assets/roue.png" class="arroww"/>
      <img class="fondbloc" src="./assets/bloc.png"/>
    </div>
    
    <div *ngFor="let obj of focus;let i=index">
      <p class="title clickable" (click)="clickListe(obj)">{{obj.nom}}</p>
      <ng-template [ngIf]="onglet=='Général'">
        <div *ngFor="let data of obj.data">
          <p>{{data.nom?data.nom:data.maison}}</p>
        </div>
      </ng-template>
    </div>
    <img class="fondbloc" src="./assets/bloc.png"/>
  </div>

  <div class="top">
    <div class="left">  
  
      <div class="topload">
        <button (click)="filesOpen=!filesOpen">Changer thème</button>
        <div *ngIf="filesOpen" class="filesOpen">
          <div *ngFor="let file of files" (click)="fileChange(file)" class="clickable">
            <p class="firstdiv" [class.full]="!file.date">{{file.nom}}</p>
            <p *ngIf="file.date">{{file.date}}</p>
            <p *ngIf="file.date">{{file.heure}}</p>
          </div>
          
          <p class="croix" (click)="filesOpen=false">x</p>
          <img class="fondbloc" src="./assets/bloc.png"/>
        </div>
      </div>
  
      <div class="informations" *ngIf="edit||informations.prenom">
        <div>
          <p>Prénom : {{edit?'':informations.prenom}}</p>
          <input *ngIf="edit" type="text" placeholder="Prénom.." [(ngModel)]="VALUES[0]"/>
        </div>
        <div>
          <p>Date de naissance : {{edit?'':informations.date}}</p>
          <select *ngIf="edit" [(ngModel)]="VALUES[1]">
            <option *ngFor="let ind of JOURS">{{ind}}</option>
          </select>
          <select *ngIf="edit" [(ngModel)]="VALUES[2]">
            <option *ngFor="let ind of MOIS">{{ind}}</option>
          </select>
          <input *ngIf="edit" type="text" placeholder="Année.." [(ngModel)]="VALUES[3]"/>
        </div>
        <div>
          <p>Heure de naissance : {{edit?'':informations.heure}}</p>
          <select *ngIf="edit" [(ngModel)]="VALUES[4]">
            <option *ngFor="let ind of HEURES">{{ind}}</option>
          </select>
          <select *ngIf="edit" [(ngModel)]="VALUES[5]">
            <option *ngFor="let ind of MINUTES">{{ind}}</option>
          </select>
        </div>
        <div>
          <p>Lieu de naissance : {{edit?'':informations.lieu}}</p>
          <input *ngIf="edit" type="text" placeholder="Lieu de naissance.." [(ngModel)]="VALUES[6]"/>
        </div>
        <div class="topload">
          <button *ngIf="edit&&svgs" (click)="edit = false">Annuler</button>
          <button *ngIf="edit" (click)="isValidateDisabled()?null:downloadFile()"  [class.disabled]="isValidateDisabled()">Valider</button>
        </div>
        
        <img class="fondbloc" src="./assets/bloc.png"/>
      </div>
  
      <p class="title" *ngIf="svgs"><img class="star" src="./assets/star.png">{{hover?hover:(clicked?clicked:'Sélectionnez une entité')}}<img class="star" src="./assets/star.png"></p>
    
      <div class="contsvg">
        <div #one class="svg"></div>
      </div>
    </div>
    
    <div class="right">
  
      <div class="menu onglets" *ngIf="svgs">
        <div *ngFor="let ong of onglets" class="clickable" [class.clicked]="onglet==ong" (click)="clickOnglet(ong)">
          <p>{{ong}}</p>
          <img class="fondbloc" src="./assets/bloc.png"/>
        </div>
      </div>
  
      <div *ngIf="onglet=='Général' && desc" class="desc">
        <p class="title"><img class="star" src="./assets/star.png">{{clicked}}<img class="star" src="./assets/star.png"></p>
        <p [innerHTML]="desc"></p>
        <img class="fondbloc" src="./assets/bloc.png"/>
      </div>
  
      <div class="menu" *ngIf="onglet=='Général'">
        <p *ngFor="let t of types" class="clickable" [class.clicked]="t==type" (click)="type=t">{{t}}</p>
      </div>
  
      <div class="menu menu2" *ngIf="onglet=='Accueil'&&svgs">
        <p *ngFor="let m of menu" class="clickable" [class.clicked]="clicked2==m" (click)="clicked2=m">{{m}}</p>
      </div>
  
      <div class="menu menu3" *ngIf="onglet=='Accueil'&&svgs">
        <p class="title" *ngIf="clicked2==menu[0]">{{general.emispherenord.nord}} planètes dans l'emisphère Nord</p>
        <p class="title" *ngIf="clicked2==menu[0]">{{general.emispherenord.sud}} planètes dans l'emisphère Sud</p>
        <p class="title" *ngIf="clicked2==menu[1]">{{general.emisphereest.ouest}} planètes dans l'emisphère Ouest</p>
        <p class="title" *ngIf="clicked2==menu[1]">{{general.emisphereest.est}} planètes dans l'emisphère Est</p>
        <div class="menu" *ngIf="clicked2==menu[2]">
          <p class="title clickable" *ngFor="let mod of modalites" (click)="modalite=mod" [class.clicked]="modalite==mod">{{mod.nom}}</p>
        </div>
        <div class="menu elems" *ngIf="clicked2==menu[2]&&modalite==modalites[0]">
          <p *ngFor="let mod of modalite.data" class="">{{mod.points}}<img src="./assets/{{mod.nom}}.png"/></p>
        </div>
        <div class="menu elems" *ngIf="clicked2==menu[2]&&modalite==modalites[1]">
          <p *ngFor="let mod of modalite.data" class="">{{mod.points}}<img src="./assets/{{mod.nom}}.png"/></p>
        </div>
        <div class="menu elems yin" *ngIf="clicked2==menu[2]&&modalite==modalites[2]">
          <p class="">{{(modalite.data[0].yang)}}<img src="./assets/yang.png"/></p>
          <p class="">{{(modalite.data[0].yin)}}<img src="./assets/yin.png"/></p>
        </div>
      </div>
      
      <div class="menu selectmsg" *ngIf="onglet=='Général'&&focus.length==0">
        <p *ngIf="onglet=='Général'">Sélectionnez une entité dans le thème astral..</p>
      </div>
      
      <div class="menu menu2 menudomaine" *ngIf="onglet=='Domaines'">
        <p *ngFor="let dom of domaines" class="clickable" [class.clicked]="domaine.nom==dom.nom" (click)="domaine=dom">{{dom.nom}}</p>
      </div>
  
      <div *ngIf="onglet=='Domaines'" class="domaines">
        <div class="domaine">
          <div class="flex titlestyle">
            <img class="star" src="./assets/star.png">
            <p class="title borderbot">{{domaine.nom}}</p>
            <img class="star" src="./assets/star.png">
          </div>
          <p *ngIf="domaine.domaines.length==0">Pas de données..</p>
          <p *ngFor="let data of domaine.domaines" class="infosdomaine" [innerHTML]="data"></p>
          
          <img class="fondbloc" src="./assets/bloc.png"/>
        </div>
      </div>
  
      <div *ngIf="onglet=='Accueil'&&clicked2==menu[2]" class="domaines domodalites">
        <div class="domaine">
          <div class="flex titlestyle">
            <img class="star" src="./assets/star.png">
            <p class="title borderbot">{{modalite.nom}}</p>
            <img class="star" src="./assets/star.png">
          </div>
          <p *ngIf="modalite.data.length==0">Pas de données..</p>
          <p *ngFor="let data of modalite.data" class="infosdomaine" [innerHTML]="data.data"></p>
          
          <img class="fondbloc" src="./assets/bloc.png"/>
        </div>
      </div>
  
      <div #textes class="textes">
  
        <ng-template [ngIf]="onglet=='Général'">
          <div *ngFor="let obj of getFocus();let i=index" class="data" [class.lastdata]="i==getFocus().length-1">
            <div class="flex titlestyle">
              <img class="star" src="./assets/star.png">
              <p class="title borderbot">{{obj.nom?obj.nom:obj.maison}}</p>
              <img class="star" src="./assets/star.png">
            </div>
            <div class="contenu">
              <div *ngFor="let data of obj.data">
                <p class="title title2">{{data.nom?data.nom:data.maison}}</p>
                <p [innerHTML]="data.data"></p>
              </div>
              <div *ngIf="!obj.data">
                <p class="title">Données manquantes</p>
                <p>...</p>
              </div>
            </div>
            
            <img class="fondbloc" src="./assets/bloc.png"/>
          </div>
        </ng-template>
  
        <ng-template [ngIf]="onglet=='Accueil'&&(clicked2!=menu[2])">
          <div *ngFor="let obj of getGeneral();let i=index" class="data" [class.lastdata]="i==getGeneral().length-1">
            <div class="flex titlestyle">
              <img class="star" src="./assets/star.png">
              <p class="title borderbot">{{obj.nom?obj.nom:obj.maison}}</p>
              <img class="star" src="./assets/star.png">
            </div>
            <div class="contenu">
              <div>
                <p [innerHTML]="obj.data"></p>
              </div>
            </div>
  
            <img class="fondbloc" src="./assets/bloc.png"/>
          </div>
        </ng-template>
  
      </div>
    </div>
  </div>  
</div>