@font-face {
    font-family: Chloe;
    src: url(../src/assets/Chloe.otf) format("opentype");
}
@font-face {
    font-family: Future;
    src: url(../src/assets/Future.ttf) format("opentype");
}
@font-face {
    font-family: Jonathan;
    src: url(../src/assets/Jonathan.otf) format("opentype");
}
:root{
    --purple0: #211a44;
    --purple1: #5c5792;
    --purple2: #9f8dc3;
    --purple3: #be9cc7;
    --purple4: #e3bad5;
    --yellow: #eebc70;
    --pink: #ad57b6;

}
body{
    margin:0px;
    height:100%;
}
html{
    height:100%;
}
app-root{
    height:100%;
}
.top{
    height:100%;}
html{
    overflow: hidden;
}
.svg image, .svg text, .svg line{
    filter:drop-shadow(1px 1px 1px black) !important;
}
.fond{
    position: absolute;
    top:0px;
    left:0px;
    z-index: -1;
    height:fit-content;
    width:100%;
    height:100%;
}
.left{
    width:500px;
    padding: 1vw;
  background-color: #211a4450;
  box-shadow: 5px 0px 20px black;
}
.right{
    padding:1vw;
    display: flex;
  flex-direction: column;
  justify-content: space-between;
}
*{
    font-family: 'Future';
    font-size: 1vw;
    line-height: 2.3vh;
    color:var(--purple3)!important;
    -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
.title{
    font-family: 'Chloe'!important;
    font-size: 1.8vw !important;
    line-height: 1;
}
.sign{
    font-family: 'Jonathan'!important;
}
.top{
    display:flex;
}

.bloc{
    white-space: break-spaces;
  border: 5px ridge var(--purple1);
  background-color: var(--purple0);
  box-shadow: 10px 10px 20px 0px black;
  padding: 15px;
}


button, input, select{
    background-image: url("../src/assets/bouton.png");
    border-radius:20px;
    padding:10px;
    color:white;
    font-weight:bold;
    text-align: center;
}
.flex{
    display:flex;
}
.file{
    transition: 0.5s;
    margin-bottom:2vh;
    position: relative;
    width: 20vw;
    height: 5vh;
    margin:auto;
    margin-top:1vh;
}
.file:hover{
    scale:1.2;
}
img{
    filter: drop-shadow(black 1px 1px 4px) !important;
}
.file input:hover{
    cursor:pointer;
}
.file input{
    opacity: 0;
    z-index: 5;
}
.file *{
    position: absolute;
    left: 0;
    top: 0;
    width:100%;
    height:100%;
}
.file p{
    top:10px;
    font-size:2vw!important;
}

.data{
    position:relative;
    padding:2vw;
    width: 18vw;
    min-width: 18vw;
    margin: 1vw;
}

p{
    margin: auto;
    width: fit-content;
    height: fit-content;
    text-align: center;
    font-weight: bold;
    text-shadow: 2px 2px 2px black;
}
.contenu .title{
    padding:2vh 0vh;
}
.lastdata{
    margin-right:10vw!important;
}
.informations{
    position: relative;
    padding:2vw;
    margin:auto;
    height:fit-content;
    width:fit-content;
    margin-top:2vh;
    margin-bottom:2vh;
}
.informations p{
    text-align: left;
    margin:0;  
    font-size: 1.2vw;
}
.fondbloc
{
    position: absolute;
  width: 100%;
  height: 100%;
  top:0px;
  left:0px;
  z-index: -1;
}
.contsvg{
    margin: 2vh 0px 0px 0px;
}
.stars{
    position:absolute;
    height: 140%;
    opacity: 0.2;
    transform: rotate(-20deg);
    width: 50%;
    top: -20%;
    pointer-events: none;
}
.starsleft{
    left:-20%;
}
.starsright{
    right:-20%;
    transform:rotate(160deg);
}

.bloc{
    font-weight: bold;
    text-align: center;
    margin: 0;
    display: flex;
    justify-content: center;
    padding-top: 35px;
}

.linked{
    background-color:rgb(153, 0, 89);
}

button:hover{
    opacity:0.5;
    cursor:pointer;
}

.clickable:hover{
    cursor:pointer;
    text-decoration: underline;
    color:red;
    scale:1.2;
}
.clickable{
    transition:0.5s;
}

.over:hover{
    opacity:0.1;
}

.showOver{
    z-index:0;
}
.showOver:hover{
    z-index:2;
}

.clickableDiv:hover{
    opacity:0.2 !important;
    cursor:pointer;
}

.hidden{
    opacity:0;
}
.hidden:hover{
    opacity:0.1;
}
.active{
    color:red;
}
.active:hover, .planete:hover, .signe:hover
{
    cursor:pointer!important;
    filter: drop-shadow(0px 0px 2px black) invert(75%)!important;
}
.planete, .signe{
    transition:0.1s;
}
.accueil{
    transform: rotate(25deg);
    position: absolute;
  width: 2vw;
  margin: 2vw;
}
.menu{
    display: flex;
  justify-content: space-around;
  margin: 1vh 2vw;
}
.menu p{
    color: var(--yellow) !important;
  font-weight: bold;
  font-size: 3vh;
  text-shadow: 4px 4px 2px black;
}
.menu .clicked{
    color: var(--purple4) !important;
    text-decoration: underline;
}
.textes{
    height:100%;
    width:65vw;
    overflow-x:auto;
    display: flex;
    overflow-y: hidden;
    scrollbar-color: var(--purple3) var(--purple1);
  scrollbar-width: thin;
  bottom: 0px;
}
.texte{
    width:40%;
}
.disabled{
    filter: grayscale(1) contrast(9)!important;
  opacity: 0.1!important;
  pointer-events: none!important;
}
.desc{
    position:relative;
    padding: 2vh;
  margin: 2vh 10vw;
}
.star{
    width: 2.4vw;
    top: 10px;
    position: relative;
    margin: 0px 5px;
    height: 2.4vw;
    margin: auto;
}
.center{
    position: absolute;
  right: -22vw;
  width: 20vw;
  transition:1s;
  //border: 5px ridge var(--purple1);
  //background-color: #9f8dc350;
  padding: 3vh 1vw;
  z-index: 1;
}
.center .arrow{
    position: absolute;
  top: 55px;
  left: -60px;
}
.center .arroww{
    rotate: 90deg;  
    width: 25px;
    padding: 5px 18px;
    transition:0.5s;
}
.showliste{
    transform: translateX(-22vw);
}
.showliste .arroww{
    rotate:-90deg !important;
}
.contenu{
    overflow: hidden;
  height: 93%;
}
.titlestyle{
    padding-bottom: 1vh;
    margin-bottom: 1vh;
    width: 100%;
    border-bottom: 1px solid var(--purple3) !important;
}
.titlestyle .star{
    top:0px;
}
.contenu img{
        height:50%;
}
.typelien{
        position: absolute;
        color: var(--yellow) !important;
  font-weight: bold;
  top: -10px;
  font-size: 3vh;
  width: 82%;
  text-shadow: 4px 4px 2px black;
}